@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #507e9a;
}

a {
    color: #376b8c;
}

.side-nav li a:not(.button) {
    color: #507e9a;
}

.side-nav li a:not(.button):hover {
    color: #507e9a;
}

header {
    background-color: white;
    color: #ffffff;
    font-size: 30px;
    height: 4px;
    line-height: 64px;
    padding: 16px 0px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
    padding-left:80px
}

legend {
    color:#15848F;
}

.row {
    max-width: 85rem;
}

.actions.columns {
    margin-top:1rem;
    border-left: 5px solid #15848F;
    padding-left: 15px;
    padding: 32px 20px;
}

.actions.columns h3 {
    color:#15848F;
}

.related table {
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    margin-right:2rem;
    margin-top: -80px;
    font-size:16px;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #0097a7;
    color: #FFF;
    border-radius: 1000px;
}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.required > label {
    font-weight: bold;
}
.required > label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height:150px;
    background: none;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color:#DCE47E;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}
.view .numbers .subheader, .view .dates .subheader {
    color:#747474;
}
.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top:1.2rem;
    border-bottom: 1px solid #eee;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0 ,0 , 0.74);
    padding:5px;
}

.cake-error .cake-stack-trace {
    margin-top:10px;
}

.cake-stack-trace code {
    background: inherit;
    border:0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color:#fff;
    text-decoration: underline;
}

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

.top-bar.expanded .title-area {
  display: none;
    background: #01545b;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    background: #ffffff;
}
.top-bar.expanded a{
  color: #376b8c;
}

/*Control del icono del header */
i.icon-search{
  padding-right: 0px;
  font-weight: 400;
  font-size: 20px;
  color: #008CBA;
  cursor: pointer;
}

ul.right.icono-busqueda {
  width: 40%;
  margin-right: auto;
  padding-top: 60px;
}
/*Padding del header del sitio*/
.top-bar-section {
    padding: 0px;
}

/*CONTROL DEL DROPDOWN DEL MENÚ DEL HEADER*/
.dropdown-header {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #376b8c;}
a.enlaces-categorias:hover{
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown-header:hover .dropdown-content {display: grid;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-header:hover .dropbtn {background-color: #376b8c;}

/*Padding del menú izquerdo del header*/
ul.left.menu-izquierdo{
  width: 33%;
  padding: 10px;
  text-align: center;
}

/*Tipografía menú header*/
.menus-header {
    font-size: 20px !important;
}

/*Controlar logo del header*/

ul.center.logo-header {
    padding-left: 130px;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #376b8c;
    background: #376b8c;
}

.side-nav li.heading {
    color: #1798A5;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4375rem 0.875rem;
}

#actions-sidebar {
    background: #fafafa;
}

.index table {
    margin-top: 0rem;
    border: 0;
    width: 100%;
    table-layout: fixed;
}

table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #1798A5;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #376b8c;
    text-align: left;
    border-bottom: 2px solid #507e9a;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid #1798A5;
    width: 100%;
    line-height: 2rem;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: none;
}

.form button:hover, .form button:focus {
    background: #376b8c;
    box-shadow: none;
}

button {
    background: #6990a9;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}


.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #1798A5;
    border: none;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    overflow: hidden;
    min-height: 92%; /* full height almost always */
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
@media(max-width: 640px) {
    #actions-sidebar {
        padding-bottom: 2rem;
        margin-bottom: 0;
    }
}

.content h3 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
}

.content h4 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #be140b;
}

.content .related h4 {
    color: #4d8f97;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 0px;
}

table td {
    vertical-align: top;
    word-break: break-all;
}
.container-negocio{
      width: 2400px;
}
.contenido-negocio {
    align-content: center;
    text-align: center;
}
titulos#TituloNegocio{
  font-size: 50px;
  color: #376b8c;
}

/* CONTROL DE LOS DATOS DE CADA NEGOCIO */
p.InformacionNegocio {
    /*border: double #82a3b7;*/
    font-family: 'Roboto';
    font-size: 18px;
    color: #376b8c;
    border-radius: 20px;
    width: 600px;
    height: 150px;
    padding: 20px;

    /*background: #82a3b7;*/
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;

}

i.icon-phone {
    font-size: 20px;
        padding: 10px;
}

.EstructuraNegocio {
    display: grid;
    align-items: center;
    grid-template-columns: 800px 800px;
}

/*Control de la sección de negocios */
.col-md-4.columna-central {
    text-align: center;
}

/*Controlar el mapa*/
titulos#TituloMapa {
    text-align: center;
    font-family: Roboto!important;
    font-weight: 500!important;
    font-style: normal!important;
    font-size: 34px;
    color: #507e9a;
}

.col-md-4.contenedor-mapa {
    text-align: center;
    padding-top: 50px;
}

iframe#MapaNegocio{
    width: 600px;
    height: 450px;

    border:0;

}

/*Control del form del login*/
.users.form {
  margin-left: auto;
  width: 40%;
  text-align: center;
  margin-right: auto;

}

/* ESTILOS DEL FORM */
.wrap-contact2 {
  padding-bottom: 20px;
    padding-top: 50px;
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: CENTER;
    display: flex;

    background: #fff;

    overflow: hidden;
    /*padding: 72px 55px 90px 55px;*/
}

.contact-form {
    padding: 20px;
    width: 2500px;
    text-align: left;

    background: #e6ecf1;
}

label.form-group {

  margin-left: auto;
  display: flex;
  width: 72%;
  align-content: center;
  justify-content: center;
  margin-right: auto;
}

h3.titulo-form {
    text-transform: uppercase;
    text-align: center;
    color: #376b8c;
    font-family: 'Roboto';
    padding-left: 25px;
    font-weight: 500;
}

h3.mensaje-form {
  text-align: center;
  color: #376b8c;
  padding-left: 25px;
    font-size: 15px;
    font-family: 'Roboto';
}

input.form-control {
  margin-top: 10px;
    margin-left: 20px;
}

button.btn-form {
  margin-left: 26px;
  border-radius: 15px;
  font-family: 'Roboto';
}

/*Imagen de cada negocio */
img.ImagenNegocio {
    width: 300px;
    height: 300px;
    margin: 20px;
}
 /*CONTROL DEL GRID*/

 tbody {
   justify-content: center;
   display: grid;
   grid-template-columns: 300px 300px 300px 300px;
   align-content: center;
   align-items: center;
   text-align: center;
}

td {
  text-align: center !important;
  line-height: 2rem !important;
}


table tr {
    border: none !important;
    margin-left: auto;
    margin-right: auto;
  }

 img.ImagenGrid {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.gridNegocios {
    align-items: center;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px;
    /*grid-template-rows: 300px 300px 300px 300px;*/
    align-content: center;
    text-align: center;
    justify-content: center;
}
select#maxRows {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.gridCategorias {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.elementoGridNegocio {
    padding: 50px;
}

a.TituloGrid {
    font-family: 'Roboto';
    font-size: 23px;
    padding: 25px;
    color: #507e9a !important;
    font-weight: 500;
}
a.TituloGrid:hover {
    text-decoration: underline;
}

.pagination li:hover{
    cursor: pointer;
}

/*Titulos del home*/
h1.TitulosHome {
  border-radius: 0px;

    height: 80px;
    font-family: 'Roboto';
    color: white;
    background: linear-gradient(90deg, #e6ecf1 10%, #376b8c 90%); */
    vertical-align: middle;
    padding-top: 10px;
    font-weight: bold;

}

h1#TitulosNegocioHome {
  border-radius: 0px;
    text-align: left;
    height: 80px;
    font-family: 'Roboto';
    color: #376b8c;
    /* background: linear-gradient(90deg, #e6ecf1 10%, #376b8c 90%); */
    vertical-align: middle;
    padding-top: 10px;
    font-weight: bold;
    padding-left: 95px;
}

/*Titulo ficha de cada negocio*/
h1.TitulosNegocio {
    border-radius: 0px;
    text-align: left;
    height: 80px;
    padding-left: 100px;
    font-family: 'Roboto';
    color: #376b8c;
    background: linear-gradient(90deg, #e6ecf1 10%, #376b8c 90%);
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 30px;
}


/*CONTROL DE LOS EVENTOS*/
img.ImagenEvento {
    max-width: 550px;
    border-radius: 30px;
    margin: 25px;
}

.gridEventos {
    align-items: center;
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
}

/*Controlar el pop up de busqueda*/
.form-popup {
  display: none;
  position: fixed;
  bottom: 320px;
  right: 35px;
  /*border: 3px solid #f1f1f1;*/
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

input.button.button-cerrar {
    max-width: 120px;
}

/*CONTROL DEL BUSCADOR EN EL HOME*/
.buscador-principal {
    align-content: center;
    justify-content: center;
    display: grid;
}

h1.tituloBuscador {
    font-family: 'Roboto';
    font-weight: bold;
    color: #376b8c;
    font-size: 40px;
}
fieldset.form-busqueda-home {
    justify-content: center;
    display: grid;
    grid-template-columns: 600px 100px;
    align-items: center;
}

button.buscar-btn {

  justify-content: center;

  text-align: center;
  align-items: center;
  /*color: #008CBA;*/
  background: transparent;

  font-family: 'Roboto';
  font-weight: 800;
  font-size: 20px;
}

div#formPrincipalBusq {
    height: 125px;
}

/*Control del ancho del contenedor para registrar negocio */
.row.container-registrarnegocio{
  padding-left: 100px;
  padding-right: 100px;
}

/*Control títulos form registro negocios */
h1.TitulosForm{
  order-radius: 0px;
    text-align: left;
    height: 80px;
    font-family: 'Roboto';
    color: #376b8c;
    /* background: linear-gradient(90deg, #e6ecf1 10%, #376b8c 90%); */
    vertical-align: middle;
    padding-top: 10px;
    font-weight: bold;
    
}
